<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#A5A5A5;">
    <nav class="d-flex justify-content-between align-items-center col-10 mx-auto">
        <h1 class="d-flex col-5 justify-content-around">Welcome {{user.first_name}}!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/new/consultation" class="btn btn-dark">New Consultation</a>
            <a href="/logout" class="btn btn-dark">Logout</a>
        </div>
    </nav>
    <img src="static/imgs/banner1.jpg" alt="banner" class="d-flex justify-content-between align-items-center col-10 mx-auto">
    <div class="col-8 mx-auto">
        <h2>Reservations:</h2>
        <table class="table table-hover text-center">
            <tbody>
                {% for consultation in all %}
                    <tr>
                        <td>Consultation with {{consultation.stylist_name}} on {{consultation.date}}</td>
                        <td>
                            {% if consultation.user_id == session.user_id %}
                            <a href="/consultation/{{consultation.id}}">View</a>
                            <a href="/edit/consultation/{{consultation.id}}">Edit</a>
                            <a href="/destroy/consultation/{{consultation.id}}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>